* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
body {

    margin: 0 auto;
    width: 100%;
    background: #f8f9fa;
}
header {
    width: 100%;
    height: 46vw;
    background-color: rgb(29, 27, 27);
}
img {
    width: 100%;
}
.logo1 {
    width: 2%;
    margin-left: 4%;
    margin-top: 2.6%;
    float: left;
}
.logo1:hover {
    -webkit-filter: drop-shadow(0px 0px 1px rgba(253, 252, 252, 0.5));
     filter: drop-shadow(0px 0px 1px rgba(255, 254, 254, 0.5));
}
.mail::before {
    width: 1.5vw;
    height: 1.2vw;
    margin-top: 0vw;
    margin-left: -2vw;
    background-image: url(./img/Mail@1X.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    content: "";
}
.mail {
    z-index: 3;
    width: 3%;
    margin-right: 8.5%;
    margin-top: 3.1%;
    float: right;
    color: white;
    font-size: 0.8vw;
    font-family:sans-serif;
    font-weight: bold;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mail:hover,.phone:hover {
    opacity: 0.8;
}

.phone::before {
    width: 1.5vw;
    height: 1.5vw;
    margin-top: -0.25vw;
    margin-left: -1.8vw;
    background-image: url(./img/Phone@1X.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    content: "";
   
}
.phone {
    width: 9%;
    margin-right: 10%;
    margin-top: 3.1%;
    float: right;
    color: white;
    font-size: 0.8vw;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.knopka_log_in {
    width: 5vw;
    height: 2vw;
    border-radius: 1vw;
    margin-left: 90%;
    margin-top: 2.6%;
    float:right;
    background-color: blanchedalmond;
    position: absolute;
}
.knopka_log_in:hover {
    background-color: whitesmoke;
    box-shadow: 0px 0px 2px white;
}
.knopka_text {
    width: 4vw;
    height: 1vw;
    color: #135EC5;
    margin-left: 1.04vw;
    margin-top: 0.54vw;
    font-size: 0.7vw;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.knopka_text:hover {
    color: rgb(104, 104, 243);
}
div[class^="change_your_car"] {
    z-index: 1;
    width: 6vw;
    height: 10vw;
    color: white;
    font-size: 5vw;
    position: absolute;
    font-weight: bold;
    opacity: 0.05;
    text-shadow: 0px 0px 7px rgb(231, 213, 213);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.change_your_car1 {
    margin-top: 11vw;
    margin-left: 36vw;
}
.change_your_car2 {
    margin-top: 16vw;
    margin-left: 23vw;
}
.change_your_car3 {
    margin-top: 16vw;
    margin-left: 58vw;
}

.mers { 
    z-index: 2;
    width: 30%;
    margin-left: 30%;
    margin-top:15%;
    position: absolute;
}
.mers:hover,div[class^="change_your_car"]:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(253, 252, 252, 0.5));
     filter: drop-shadow(0px 0px 7px rgba(255, 254, 254, 0.5));
}
div[class^="elips"] {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    position: absolute;
}
div[class^="elips"]:hover,.el4:hover,
.el5:hover,.el6:hover {
    background-color: cornsilk;
}
.elips1 {
    margin-top: 19vw;
    margin-left: 94vw;
    background-color: rgb(165, 149, 149);
}
.elips2 {
    margin-top: 19.8vw;
    margin-left: 94vw;
    background-color:#135EC5;
}
.elips3 {
    margin-top: 20.6vw;
    margin-left: 94vw;
    background-color: rgb(165, 149, 149);
}
.simple {
    z-index: 1;
    width: 10vw;
    height: 1vw;
    color: white;
    font-size: 0.8vw;
    position: absolute;
    margin-top: 36vw;
    margin-left: 43.7vw;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.simple:hover {
    opacity: 0.7;
}
.block_poisk {
    width: 80vw;
    height: 3vw;
    margin-top: 39vw;
    margin-left: 12vw;
    position: absolute;
}
.make {
    width: 15vw;
    height: 3vw;
    position: absolute;
    color:rgb(78, 66, 66);
    font-size: 1.5vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(78, 66, 66);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.model {
    width: 15vw;
    height: 3vw;
    margin-left: 22vw;
    position: absolute;
    color:rgb(78, 66, 66);
    font-size: 1.5vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(78, 66, 66);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.city {
    width: 15vw;
    height: 3vw;
    margin-left: 44vw;
    position: absolute;
    color:rgb(78, 66, 66);
    font-size: 1.5vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(78, 66, 66);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.make:hover,.model:hover,.city:hover {
    color: cornsilk;
}
.search {
    width: 11vw;
    height: 2.5vw;
    margin-left: 64vw;
    background-color: #135EC5;
    position: absolute;
    font-size: 2vw;
    border-radius: 3vw;
}
.search_text {
    width: 6vw;
    height: 3vw;
    margin-left: 3.7vw;
    margin-top: 0.77vw;
    font-size: 0.8vw;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search:hover {
    box-shadow: 0px 0px 2px white;
    background-color:#2262bb;

}
main {
    width: 100%;
    height: 181vw;
}
.section1 {
    width: 100%;
    height: 48vw;
    background-color: white;
}

.take {
    z-index: 1;
    width: 10vw;
    height: 1vw;
    color: rgb(182, 175, 175);
    font-size: 0.8vw;
    position: absolute;
    margin-top: 3vw;
    margin-left: 43.7vw;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.take:hover {
    color: black;
}
.block_mark {
    width: 95vw;
    height: 10vw;
    margin-top: 0vw;
    margin-left: -1vw;
}
.mazda {
    width: 5vw;
    margin-left:5vw;
    margin-top:10vw;
    position: absolute;
    opacity: 0.6;
}
.hyundai {
    width: 6.8vw;
    margin-left:18vw;
    margin-top:10vw;
    position: absolute;
    opacity: 0.6;
}
.bmw {
    width: 4.8vw;
    margin-left:34vw;
    margin-top:9.3vw;
    position: absolute;
}
.volvo {
    width: 4.8vw;
    margin-left:48.8vw;
    margin-top:9.45vw;
    position: absolute;
    opacity: 0.6;
}
.chevrolet {
    width: 7.8vw;
    margin-left:63vw;
    margin-top:10vw;
    position: absolute;
    opacity: 0.6;
}
.mercedes {
    width: 4.4vw;
    margin-left: 79vw;
    margin-top: 9vw;
    position: absolute;
    opacity: 0.6;
}
.honda {
    width: 4.8vw;
    margin-left: 91vw;
    margin-top: 9.3vw;
    position: absolute;
    opacity: 0.6;
}
.mazda:hover, .hyundai:hover, .volvo:hover, .chevrolet:hover,
.mercedes:hover, .honda:hover,
.mazda2:hover, .hyundai2:hover, .volvo2:hover, .chevrolet2:hover,
.mercedes2:hover, .honda2:hover {
    opacity: 1;
}
.bmw:hover,.bmw2:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
    filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
}
.bmw_auto {
    width: 28%;
    margin-left: 11vw;
    margin-top: 15vw;
    position: absolute;
}
.bmw_auto:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
    filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
}
.bmw_zag {
    width: 20vw;
    height: 2vw;
    margin-top: 12vw;
    margin-left: 46.8vw;
    color: #135EC5;
    font-size: 3vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bmw_zag:hover {
    -webkit-filter: drop-shadow(0px 0px 1px rgba(27, 120, 182, 0.5));
    filter: drop-shadow(0px 0px 1px rgba(27, 120, 182, 0.5));
}
.bmw_opis {
    width: 40vw;
    height: 2vw;
    margin-top: 17vw;
    margin-left: 47vw;
    color: rgb(182, 175, 175);
    font-size: 0.8vw;
    position: absolute;
    font-weight: bold;
    text-align: justify;
    line-height: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bmw_opis:hover, .probeg_merc1:hover,
.info_merc2:hover {
    color: cadetblue;
}
.knopka2 {
    width: 11vw;
    height: 2.5vw;
    margin-left: 47vw;
    margin-top: 25vw;
    background-color: #135EC5;
    position: absolute;
    font-size: 2vw;
    border-radius: 3vw;
}
.knopka2:hover {
    background-color:#0b6cf5; ;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(27, 120, 182, 0.5));
    filter: drop-shadow(0px 0px 1px rgba(27, 120, 182, 0.5));
}
.knopka2_text {
    width: 9vw;
    height: 3vw;
    margin-left: 1.31vw;
    margin-top: 0.74vw;
    font-size: 0.8vw;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section2 {
    clear: both;
    width: 100%;
    height: 29vw;
    background-color: #135EC5;
}
.add_you {
    width: 51vw;
    height: 2vw;
    margin-top: 7vw;
    margin-left: 27vw;
    color: white;
    font-size: 2.6vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.add_you:hover {
    -webkit-filter: drop-shadow(0px 0px 1px rgba(250, 250, 250, 0.5));
    filter: drop-shadow(0px 0px 1px rgba(250, 250, 250, 0.5));
}
.knopka3 {
    width: 11vw;
    height: 2.5vw;
    margin-left: 42vw;
    margin-top: 15vw;
    background-color: #135EC5;
    position: absolute;
    font-size: 2vw;
    border-radius: 3vw;
    border: 2px solid white;
}
.knopka3_text {
    width: 8vw;
    height: 3vw;
    margin-left: 3.2vw;
    margin-top: 0.83vw;
    font-size: 0.8vw;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.knopka3:hover,.knopka5:hover {
    background-color:#0b6cf5; ;
    box-shadow: 0px 0px 3px blue;
}
.machina {
    width: 36%;
    margin-left: 30vw;
    margin-top: 21vw;
    position: absolute;
}
.machina:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
    filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
}
.section3 {
    width: 25vw;
    height: 31vw;
    margin-top: 15vw;
    margin-left: 8vw;
    border-top:11vw solid #135EC5;
    box-sizing: border-box;
    box-shadow:0px 0px 1px black;
    float: left;
}
.merc2 {
    z-index: 1;
    width: 18%;
    margin-left: 4vw;
    margin-top: -4vw;
    position: absolute;
}
.merc2:hover,.merc3:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
    filter: drop-shadow(0px 0px 7px rgba(7, 7, 7, 0.5));
}
.furie {
    z-index: 0;
    width: 6vw;
    height: 10vw;
    margin-top: -10.5vw;
    margin-left: -1vw;
    color: white;
    font-size: 9vw;
    position: absolute;
    font-weight: bold;
    text-shadow: 0px 0px 14px rgb(231 213 213);
    opacity: 0.05;
    font-family: sans-serif;
}
.knopka_fresh {
    width: 4.7vw;
    height: 1.5vw;
    margin-left: 18vw;
    margin-top: -9vw;
    background-color: white;
    position: absolute;
    border-radius: 3vw;
    border: 2px solid white;
}
.knopka_fresh_text {
    width: 8vw;
    height: 3vw;
    margin-left: 0.85vw;
    margin-top: 0.27vw;
    font-size: 0.8vw;
    color: #135EC5;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.knopka_fresh:hover, .knopka_fresh2:hover {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 253, 253, 0.5));
    filter: drop-shadow(0px 0px 3px rgba(252, 249, 249, 0.5));
}
.nazvanie_merc1 {
    width: 25vw;
    height: 1.1vw;
    margin-top: 7vw;
    margin-left: 2.6vw;
    color: black;
    font-size: 1.6vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nazvanie_merc1:hover,.nazvanie_merc2:hover {
    opacity: 0.8;
}
.group_merc1:hover, .group_merc2:hover {
    opacity: 0.7;
}
.group_merc1 {
    width: 15vw;
    height: 1.1vw;
    margin-top: 9.7vw;
    margin-left: 7.9vw;
    color: #135EC5;
    font-size: 0.9vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.probeg_merc1 {
    width: 25vw;
    height: 1.1vw;
    margin-top: 12.1vw;
    margin-left: 3.4vw;
    color: #a3a5a8;
    font-size: 1vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cena_merc1 {
    width: 25vw;
    height: 1.1vw;
    margin-top: 15.9vw;
    margin-left: 2vw;
    color: #3b9122;
    font-size: 1.2vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cena_merc1:hover, .cena_merc2:hover {
    font-size:1.3vw ;
}
.knopka4 {
    width: 9vw;
    height: 2.5vw;
    margin-left: 13vw;
    margin-top: 15.3vw;
    background-color: #a0a5ad;
    position: absolute;
    font-size: 2vw;
    border-radius: 3vw;
}
.knopka4_text {
    width: 9vw;
    height: 3vw;
    margin-left: 1.8vw;
    margin-top: 0.69vw;
    font-size: 0.8vw;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.knopka4:hover {
    box-shadow: 0px 0px 4px rgb(100, 97, 143);
}
.section4 {
    width: 47vw;
    height: 37vw;
    margin-top: 11vw;
    margin-left: 44vw;
    background-color:#135EC5; 
    box-sizing: border-box;
    box-shadow:0px 0px 1px black;
    float: left;
    overflow:hidden;
    position: absolute;
}
.section4:hover, .section3:hover, .section5:hover {
    box-shadow: 0px 0px 4px rgb(82, 71, 71);
}
.section4_2 {
    width: 25vw;
    height: 38vw;
    background-color:white; 
}
.merc3 {
    width: 67%;
    margin-left: 19vw;
    margin-top: -29vw;
    position: absolute;
}
.knopka_fresh2 {
    width: 4.7vw;
    height: 1.5vw;
    margin-left: 39vw;
    margin-top: -35vw;
    background-color: white;
    position: absolute;
    border-radius: 3vw;
    border: 2px solid white;
}
.knopka_fresh_text2 {
    width: 8vw;
    height: 3vw;
    margin-left: 0.85vw;
    margin-top: 0.27vw;
    font-size: 0.8vw;
    color: #135EC5;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nazvanie_merc2 {
    width: 25vw;
    height: 1.1vw;
    margin-top: -27vw;
    margin-left: 1.8vw;
    color:#135EC5;
    font-size: 1.6vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.group_merc2 {
    width: 15vw;
    height: 1.1vw;
    margin-top: -34.75vw;
    margin-left: 3.2vw;
    color: #a3a5a8;
    font-size: 0.8vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info_merc2 {
    width: 16vw;
    height: 2vw;
    margin-top: -23vw;
    margin-left: 2vw;
    color: rgb(182, 175, 175);
    font-size: 0.8vw;
    position: absolute;
    font-weight: bold;
    text-align: justify;
    line-height: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cena_merc2 {
    width: 25vw;
    height: 1.1vw;
    margin-top: -35.1vw;
    margin-left: 17vw;
    color: #3b9122;
    font-size: 1.2vw;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.knopka5 {
    width: 9vw;
    height: 2.5vw;
    margin-left: 2.6vw;
    margin-top: -7.7vw;
    background-color:#135EC5;
    position: absolute;
    font-size: 2vw;
    border-radius: 3vw;
}
.knopka5_text {
    width: 9vw;
    height: 3vw;
    margin-left: 1.8vw;
    margin-top: 0.69vw;
    font-size: 0.8vw;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.el4 {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    position: absolute;
    margin-top: -6vw;
    margin-left: 35.7vw;
    background-color: white;
}
.el5 {
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 50%;
    position: absolute;
    margin-top: -5.9vw;
    margin-left: 34.7vw;
    background-color: rgb(99, 83, 83);
}
.el6 {
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 50%;
    position: absolute;
    margin-top: -5.9vw;
    margin-left: 36.85vw;
    background-color:rgb(99, 83, 83);
}
.section5 {
    width: 75vw;
    height: 47vw;
    margin-top: 55vw;
    margin-left: 12vw;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgb(146, 145, 145);
    position: absolute;
}
.section5_2 {
    width: 75vw;
    height: 21vw;
    margin-top: 81vw;
    margin-left: 12vw;
    background-color: #135EC5;
    box-sizing: border-box;
    position: absolute;
}
.block_poisk2 {
    width: 69vw;
    height: 3vw;
    margin-top: 2vw;
    margin-left: 3vw;
    position: absolute;
}
.border {
    width: 74.9vw;
    margin-top: 8.5vw;
    height: 0.1wv;
    border: 1px solid rgb(182, 175, 175);
    position: absolute;
    opacity: 0.1;
}
.make2 {
    width: 15vw;
    height: 2.3vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.warshaw {
    width: 15vw;
    height: 2.3vw;
    margin-left: 18vw;
    position: absolute;
    color:black;
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.karta {
    width: 1vw;
    margin-top: 0vw;
    margin-left: 32vw;
    position: absolute;
}
.category {
    width: 15vw;
    height: 2.3vw;
    margin-left: 36vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.keywords {
    width: 15vw;
    height: 2.3vw;
    margin-left: 54vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.make2:hover,.warshaw:hover,.category:hover,
.keywords:hover,.price_from:hover,.to:hover,
.years_from:hover,.to2:hover {
    color: rgb(57, 57, 65);
}
.karta:hover {
    -webkit-filter: drop-shadow(0px 0px 1px rgba(14, 13, 13, 0.5));
    filter: drop-shadow(0px 0px 1px rgba(8, 8, 8, 0.5));
}
.block_mark2 {
    width: 80vw;
    height: 10vw;
    margin-top: 1vw;
    margin-left: -2vw;
}
.mazda2 {
    width: 3vw;
    margin-left: 6vw;
    margin-top: 11vw;
    position: absolute;
    opacity: 0.6;
}
.hyundai2 {
    width: 4.8vw;
    margin-left: 14vw;
    margin-top: 11vw;
    position: absolute;
    opacity: 0.6;
}
.bmw2 {
    width: 3vw;
    margin-left: 25vw;
    margin-top: 10.6vw;
    position: absolute;
}
.volvo2 {
    width: 3vw;
    margin-left: 34.8vw;
    margin-top: 10.6vw;
    position: absolute;
    opacity: 0.6;
}
.chevrolet2 {
    width: 5.8vw;
    margin-left: 45vw;
    margin-top: 10.7vw;
    position: absolute;
    opacity: 0.6;
}
.mercedes2 {
    width: 2.9vw;
    margin-left: 58.5vw;
    margin-top: 10.1vw;
    position: absolute;
    opacity: 0.6;
}
.honda2 {
    width: 3.5vw;
    margin-left: 69vw;
    margin-top: 10.1vw;
    position: absolute;
    opacity: 0.6;
}
.block_poisk3 {
    width: 69vw;
    height: 3vw;
    margin-top: 8vw;
    margin-left: 3vw;
    position: absolute;
}
.price_from {
    width: 15vw;
    height: 2.3vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.to {
    width: 15vw;
    height: 2.3vw;
    margin-left: 18vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.years_from {
    width: 15vw;
    height: 2.3vw;
    margin-left: 36vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.to2 {
    width: 15vw;
    height: 2.3vw;
    margin-left: 54vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block_poisk4 {
    width: 69vw;
    height: 3vw;
    margin-top: 4vw;
    margin-left: 3vw;
    position: absolute;
}
.transmission {
    width: 15vw;
    height: 2.3vw;
    position: absolute;
    color:white;
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.fuel_type {
    width: 15vw;
    height: 2.3vw;
    margin-left: 18vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}
.drive_type {
    width: 15vw;
    height: 2.3vw;
    margin-left: 36vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}
.cylinder {
    width: 15vw;
    height: 2.3vw;
    margin-left: 54vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}
.block_poisk5 {
    width: 69vw;
    height: 3vw;
    margin-top: 9vw;
    margin-left: 3vw;
    position: absolute;
}
.transmission:hover {
    color: rgb(58, 58, 57);
}
.fuel_type:hover,.drive_type:hover,.cylinder:hover,
.power:hover,.engine_size:hover,.towing:hover,.induction:hover {
    color: rgb(250, 250, 250);
}
.power {
    width: 15vw;
    height: 2.3vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}
.engine_size {
    width: 15vw;
    height: 2.3vw;
    margin-left: 18vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}
.towing {
    width: 15vw;
    height: 2.3vw;
    margin-left: 36vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}
.induction {
    width: 15vw;
    height: 2.3vw;
    margin-left: 54vw;
    position: absolute;
    color:rgb(182, 175, 175);
    font-size: 1vw;
    font-weight: bolder;
    border-bottom: 1px solid rgb(182, 175, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}
.knopka6 {
    width: 9.5vw;
    height: 2.5vw;
    margin-left: 32.9vw;
    margin-top: 14.3vw;
    background-color: white;
    position: absolute;
    font-size: 2vw;
    border-radius: 3vw;
}
.knopka6_text {
    width: 9.5vw;
    height: 3vw;
    margin-left: 2.9vw;
    margin-top: 0.74vw;
    font-size: 0.8vw;
    color: #135EC5;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.knopka6:hover {
    box-shadow: 0px 0px 4px white;
}
.knopka7 {
    width: 9.5vw;
    height: 2vw;
    margin-left: 32.9vw;
    margin-top: 0.3vw;
    background-color: #135EC5;
    position: absolute;
    font-size: 2vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    transition-duration: 0.5s;
}
.knopka7_text {
    width: 9.5vw;
    height: 3vw;
    margin-left: 1.1vw;
    margin-top: 0.74vw;
    font-size: 0.6vw;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.knopka7_text:hover {
    opacity: 0.8;
    cursor: pointer;
}
.knopka7:hover {  
    transform: translateY(-2vw);
    transition-duration: 0.5s;
    cursor: pointer;
}
